# URL to cloudinary
CLOUDINARY_URL=
# MongoDB connection URL
MONGODB_URI=
# MongoDB connection URL for testing
MONGODB_URI_TESTING=
# Fill these with random values 
# Tip: use require("crypto").randomBytes(512).toString("base64")
# to generate a 512-byte random string
COOKIE_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=